/* All */
*,
html {
    overflow-x: hidden;
}

/* Navbar */
nav {
    min-height: 8vh;
}

/* Image */
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-full {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.parallax {
    /* The image used */
    background-image: url("img/cover.jpeg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Text styling */
.bb-white{
    border-bottom: 2px solid white;  
}

u{
    width: 2px;
}

a.icon{
    color: white;
}

a.icon:hover{
    color: #2bbbad;
}

/* Button */
.btn{
    border-radius: 25px;
}


/* Misc */
/* Untuk mobile */
@media only screen and (max-width:768px){
    .pt-20{
        padding-top:40vh;
    }
    .display-3{
        font-size:4rem;
    }

    .landing-title{
        font-size:1.2rem;

    }
}

@media only screen and (min-width:768px){
    .pt-20{
        padding-top:57vh;
    }
}